@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
	min-height: 100%;
}

html,
body {
	background: rgb(248, 250, 252);
}

html.dark,
html.dark body {
	background: rgb(2, 6, 23);
}
